# SystemD service file provided by TurnKey GNU/Linux
# (Debian only provides init.d script)
# Linked to (TurnKey provided) stunnel4@shellinabox.service

[Unit]
SourcePath=/etc/init.d/shellinabox
Description=Shell In A Box Daemon (aka WebShell)
Before=multi-user.target
Before=graphical.target
After=network-online.target remote-fs.target stunnel4@shellinabox.service
Requires=stunnel4@shellinabox.service
BindsTo=stunnel4@shellinabox.service
Wants=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/shellinabox start
ExecStop=/etc/init.d/shellinabox stop
ExecReload=/etc/init.d/shellinabox reload

[Install]
WantedBy=multi-user.target
