doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/ui.tabs.css')
    script(type='text/javascript', src='/javascripts/jquery-1.2.6.js')
    script(type='text/javascript', src='/javascripts/ui.core.js')
    script(type='text/javascript', src='/javascripts/ui.tabs.js')
    script(type='text/javascript') $(function() { $('#container-1 > ul').tabs({ fx: { opacity: 'toggle'} }); });

  body
    block title-block
    #container-1
      block container-1
