
[Desktop Entry]
Type=Application
Exec=eval $(gnome-keyring-daemon -s) xbindkeys
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=xbindkeys
Name=xbindkeys
Comment[en_GB]=Bind shell commands to keyboard shortcuts
Comment=Bind shell commands to keyboard shortcuts
