<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="popup.css"/>
<script src="popup.js"></script>
</head>
<body>
    <div id="main" class="decor">
        <div class="menuitem" id="toggle">Allow This Page</div>
        <div class="menuitem" id="block">Allow This Session</div>
        <div class="hbox">
            <div class="menuitem" id="whitelist">+Whitelist</div>
            <hr/>
            <div class="menuitem" id="blacklist">+Blacklist</div>
        </div>
        <div class="menuitem" id="resources">Open Resources Panel</div>
        <hr/>
        <div class="menuitem" id="extension">Disable FlashControl</div>
        <div class="menuitem" id="preferences">Preferences</div>
    </div>
</body>
</html>
